#matIcon {
    height: 5em;
    width: 5em;
    border-radius: 5em;
    float: right;
    background-image: url('../icons/icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px -0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}