#fbForm input, #fbText {
    margin-bottom: 1em;
    padding: 0.2em;
    min-width: 16em;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Catamaran';
    font-size: 1em;
    border-bottom: solid;
    border-bottom: 2px solid var(--quaternary-color);
}
#fbForm input:active, #fbForm input:focus, #fbText:active, #fbText:focus {
    border-bottom: 2px solid var(--primary-color);
}
#fbText {
    width: calc(100% - 0.5em);
    min-height: 12em;
    resize: none;
}
#fbForm input[type=submit] {
    border: none;
    padding: 0.5em;
    background-color: var(--secondary-color);
    border-radius: 0.2em;
}
#fbForm input[type=submit]:hover {
    background-color: var(--quaternary-color);
    box-shadow: 0 4px 8px -0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#fbForm input[type=submit]:active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

#fbSent {
    display: none;
    padding: 2em;
    font-size: 1em;
    text-align: center;
}
#fbSent br {
    line-height: 2em;
}
#thumb {
    font-size: 2em;
    color: var(--quaternary-color);
}