html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
body {
    height: 100%;
    display: block
}

#navigation, #navigation *, #browser-menu, #browser-menu * {
    user-select: none;
}
#navigation * {
    -webkit-app-region: no-drag;
}
.common-buttons,
#navigation div {
    float: left;
    display: block;
    padding: 0.2em;
    font-size: 1em;
}
.common-buttons i,
#navigation i {
    border-radius: 0.2em;
    cursor: default;
}
#navigation i:hover, #quick-access i:hover, .menu-single-item:hover, #zoom i:hover, #content-edit i:hover {
    background-color: var(--quaternary-color);
}
#navigation {
    width: 100%;
    height: 2.8em;
    background-color: var(--secondary-color);
    display: block;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--quaternary-color);
    box-sizing: border-box;
    padding: 0.5em;
    overflow: hidden;
    -webkit-app-region: drag;
}
#navigation #omnibox {
    position: relative;
    float: left;
    display: block;
    width: calc(50vw - 8em);
    max-width: 30vw;
    margin-top: 0.2em;
}
#navigation #omnibox input {
    border: none;
    outline: none;
    padding: 0;
    height: 1.2em;
    width: 100%;
    font-size: 1em;
    background-color: transparent;
}
#navigation #omnibox input:focus, #navigation #omnibox input:active {
    border-bottom: 2px solid var(--primary-color);
}
#navigation #omnibox #viewTitle {
    display: none;
    position: absolute;
    top: 0.1em;
    padding: 0.2em 0;
    width: 100%;
    height: 1em;
    font-size: 1em;
    background-color: var(--secondary-color);
    -webkit-app-region: drag;
}
#navigation #tabs {
    padding: 0;
    margin-left: 1em;
    height: 2em;
    max-width: calc(50vw - 6.5em);
    overflow: hidden;
    -webkit-app-region: drag;
}
#tabs * {
    -webkit-app-region: no-drag;
}
.oneTab {
    border-radius: 0.2em;
    position: relative;
    display: inline-block;
    height: 1.5em;
    width: 2.5em;
    margin-right: 0.2em;
}
.oneTab:hover {
    background-color: var(--quaternary-color);
}
.closeTab {
    position: absolute;
    top: 0.5em;
    right: 0.2em;
    height: 0.5em;
    width: 0.5em;
    border-radius: 0.5em;
    background-color: var(--quaternary-color);
}
.activeTab .closeTab {
    background-color: var(--secondary-color);
}
.closeTab:hover {
    background-color: #ff5252;
}
#tabs .tabIcon {
    position: relative;
    height: 1.5em;
    width: 1.5em;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
#tabs .icon-insert {
    padding: 0;
    margin: 0;
}
.activeTab {
    background-color: var(--quaternary-color);
}
#navigation #window-control {
    margin-top: -0.2em;
    float: right;
}

#views {
    position: relative
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 2.8em);
}

webview {
    width: 100%;
    height: 100%;
}

#browser-menu {
    line-height: 0;
    z-index: 1;
    position: fixed;
    top: 2.8em;
    width: 16em;
    background-color: var(--secondary-color);
    border-right: solid 1px var(--quaternary-color);
    height: calc(100vh - 2.8em);
    overflow-y: scroll;
}
#browser-menu * {
    display: inline-block;
    padding: 0.5em;
    cursor: default;
}
#browser-menu i {
    font-size: 1.5em;
    padding: 0;
}
#browser-menu .menu-break {
    height: 1px;
    width: 100%;
    padding: 0;
    margin: 0.2em 0;
    background-color: var(--quaternary-color);
}
#browser-menu .menu-div {
    position: relative;
    width: 1px;
    height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: var(--quaternary-color);
}
#quick-access i, #zoom i, #content-edit i {
    border-radius: 0.2em;
}
#browser-menu div {
    position: relative;
}
.menu-description {
    position: absolute;
    top: -0.4em;
    width: calc(12.2em - 10px);
}

#zoom-level-pos {
    width: 4em;
}
#zoom-level-pos #zoom-level {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 1em);
    text-align: center;
}
#zoom, #content-edit {
    padding: 0 0.5em;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

#suggestions {
    display: none;
    z-index: 3;
    min-height: 2.5em;
    background-color: var(--secondary-color);
    border-bottom: solid 1px var(--quaternary-color);
}

#fave-popup {
    display: none;
    position: fixed;
    top: 3.5em;
    right: 1.5em;
    background-color: var(--secondary-color);
    width: 16em;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#fave-popup #bmarks {
    min-height: 2.5em;
    max-height: calc(100vh - 8em);
    white-space: nowrap;
    margin-bottom: 3em;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
#fave-popup .link {
    width: calc(100% - 1em);
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 0.5em;
    line-height: 2;
}
#fave-popup .link:hover {
    background-color: var(--quaternary-color);
}
#fave-popup .link .favicon {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    float: left;
}
#fave-popup #fave-btns {
    cursor: default;
    border-top: solid 1px var(--quaternary-color);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 3em;
    line-height: 3;
    background-color: var(--secondary-color);
}
#fave-popup #fave-btns:hover {
    background-color: var(--quaternary-color);
}